*{
	margin: 0;
	padding: 0;

}

#nav1{
	width: 100%;
	height: 60px;
/*	padding: 12px 0px;*/
	background-image: linear-gradient(120deg,black 50%,red);	
}

#nav1 ul li{
	line-height: 60px;
	float: left;
	list-style-type: none;
	padding: 0px 20px;
/*	background-color: yellow;*/

}

#nav1 ul li a{
/*	background: red;*/
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 16px;
}


.nav1{
	float: right;
	line-height: 60px;
	padding: 0px 30px;
/*	margin-right: 30px;*/
/*	background-color: yellow;*/
}


.nav1 > input{
	padding: 8px 20px;
	border: none;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	font-size: 16px;
}


#b1{
	padding: 10px 7px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	

	font-weight: bold;
	color: white;
	background-color: black;
	border: none;
}


#nav2{
/*	background-color: red;*/
		background-image: linear-gradient(120deg,black 50%,red);	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0px;
/*	width: 100%;*/
}

.nav2{
	padding: 0px 30px 0px 0px;
/*	flex-basis: 20rem;*/
/*	background-color: yellow;*/


}


.nav2 > input{

	padding: 8px 20px;
	border: none;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	font-size: 16px;
}


.nav2link{
	padding: 0px 10px;
}

.nav2link a{
	padding: 0px 20px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
}



@media screen and (max-width:800px){
	#nav2{
		flex-direction: column;
	}
	
}


@media screen and (max-width:500px){

	.nav2link{
		flex-direction: column;
	}

}